<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/html5/ns/plugins/1.0" id="html5-plugin-canvas-gamepad" version="0.1.1">
  <name>CanvasGamepad</name>
  <description>CanvasGamepad is a Gamepad HUD for canvas/HTML5 based games</description>
  <license>Apache 2.0</license>
  <keywords>html5,gamepad,game,canvas</keywords>
  <js-module src="www/CanvasGamepad.js" name="CanvasGamepad">
    <clobbers target="CanvasGamepad" />
  </js-module>
</plugin>